
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator {
    border: 1px solid #1d1111;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(194, 144, 144, 0.1);
}



#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
}

.operator {
    background-color: #b5f095;
}

.operator:hover {
    background-color: #6ec3ce;
}

